<nav class="header-site">
    <div class="container-fluid">
        <!-- Page title and breadcrumb navigation -->
        <div class="page-title">
            <h4><a href="#" id="toggle-menu"><i class="typcn typcn-th-menu"></i></a> <span>Admin Sayfası</span></h4>
            <nav>
                <a href="#">Ana Sayfa</a>
                <span class="typcn typcn-chevron-right"></span>
                <a href="#">@ViewBag.Title</a>
            </nav>
        </div>
        <!-- /Page title and breadcrumb navigation -->
        <!-- Header navigation / icons -->
   
        <!-- /Header navigation / icons -->
    </div>
</nav>
